// Variable
$primary: #10152E;
$l_primary: #121212;
$dark: #262D4D;
$l_dark: #4E5265;
$black: #000000;
$white: #FFFFFF;
$body: #FAFAFA;
$light: #E5E6EA;
$l_light:#757575;
$form_bg: #F5F5F5;
$red: #FF0412;
$orange: #FF6700;
$yellow: #FFB416;
$blue: #1C9AF4;
$green: #00BA5C;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-lato);
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    color: $primary;
    background-color: $body;
    scroll-behavior: smooth;
}


// Common css
.container_fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;       
    }
    @media (min-width: 768px) {
        max-width: 720px;       
    }
    @media (min-width: 960px) {
        max-width: 960px;       
    }
    @media (min-width: 1200px) {
        max-width: 1200px;       
    }
}

// Size
.w_100{
    width: 100%;
}

// Button
.btn{
    outline: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    padding: 14px 20px;
    transition: all .3s;
    letter-spacing: .4px;
    background-color: transparent;
    border: solid 1px;
    cursor: pointer;
    &.btn_primary{
        background-color: $black;
        border: 1px solid $black;
        color: $white;    
    }
    &.btn_outline_primary{
        background-color: transparent;
        border: 1px solid $black;
        color: $black;        
    }
}

// Heading
.main_heading{    
    .title{
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 140%;
        color: $primary;
        @media (max-width: 768px) {
            font-size: 28px;
        }
    }
}
.section_title {
    
    &.p_24{
        padding: 24px 0 24px;
    }    
    .title{        
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1px;
        color: $primary;
        &.comment_title {
            position: relative;
            padding-left: 10px;            
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -5px;
                transform: translateY(-50%);
                width: 4px;
                height: 12px;
                border-radius: 12px;
                background-color: $primary;
            }   
        }
    }
    
}


// Image
.img_fluid{
    max-width: 100%;
    height: auto;
    display: block;
}

// Card css
.post_card{
    margin-bottom: 41px;
    .card_body{
        margin-top: 20px;
        .list{
            list-style: none;
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
        li{
            color: $black;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            &.date{
                color: $l_light;
            }
        } 
        }
        .title{
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;        
            color: $l_primary;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
    }
}

.tour_guides_card{
    margin-bottom: 25px;
    .card_body{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
        .avatar{
            width: 60px;
            height: 60px;
            border-radius: 60px;
            object-fit: cover;
        }
        .title{
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            color: $black;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }
        .location{
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 120%;
                margin-bottom: 2px;
                color: $black;
            }
        }
    }
    .star_count{
        display: flex;
        align-items: center;
        gap: 10px;
        .star_icon{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .count{
            font-size: 15px;
            font-weight: 400;
            letter-spacing: .5px;
            color: $l_primary;
        }
    }
}

// breadcrumb
.header_section{
    .heading_wrap{
        padding: 64px 0;
        text-align: center;
        .breadcrumb_wrap{
            display: flex;
            justify-content: center;            
            .breadcrumb{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 10px;
                .breadcrumb_item{
                    position: relative;
                    color: $dark;                    
                    font-weight: 700;
                    font-size: 14px;
                    padding-right: 8px;
                    &.active{
                        font-weight: 400;
                    }
                    &::before {
                        content: "/";
                        position: absolute;
                        right: -3px;
                        
                    }
                    a{
                        color: $dark;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
            }
        }
    }    
}

// main section css
.main_section {
    padding-top: 28px;
    .grid_wrap {
        display: grid;
        grid-template-columns: 2.2fr .8fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        @media (max-width:767px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }
        article{
            .author_details{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px $light;
                padding: 24px 0;
                margin-bottom: 32px;
                @media (max-width: 360px) {
                    flex-direction: column;
                }
                .author{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    @media (max-width: 360px) {
                        margin-bottom: 20px;
                    }
                    .img{
                        width: 32px;
                        height: 32px;
                        border-radius: 32px;
                        object-fit: cover;
                    }
                    .text{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 120%;
                        color: $l_dark;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
                .post_date{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 120%;
                    color: $l_dark;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
            .editor_text{
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    margin-bottom: 32px;
                    letter-spacing: 1px;
                }
                blockquote{
                    font-size: 16px;
                    font-weight: 600;
                    font-style: italic;
                    line-height: 140%;
                    padding: 24px 0;
                    margin-bottom: 32px;
                    letter-spacing: 1px;
                    border-top: solid 1px $light;
                    border-bottom: solid 1px $light;
                }
            }
            .author_intro{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 15px 30px;
                border-top: solid 1px $light;
                border-bottom: solid 1px $light;
                .section_title{
                    .title{
                        font-weight: 400;
                    }
                }
                .author_img{
                    margin-bottom: 20px;
                }
                .para{
                    font-size: 16px;
                    font-weight: 600;
                    font-style: italic;
                    line-height: 140%;
                    color: $l_dark;
                    letter-spacing: 1px;
                }
            }
            .pre_next_block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;
                margin-bottom: 68px;
                .btn_outline_primary{
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
                .para{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 120%;
                    color: $dark;
                    letter-spacing: 1px;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                .next_item{
                    text-align: right;
                    .btn_outline_primary{
                        margin-left: auto;
                    }
                }
            }
        }   
        aside{
            .explore_block{
                margin-bottom: 100px;
            }
            .guides_block{
                .section_title{
                    padding-bottom: 40px;
                }
            }
            .swiper_btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                button{
                    border: solid 1px $black;
                    padding: 10px 12px;
                    border-radius: 2px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 120%;
                    letter-spacing: 1px;
                    background: transparent;
                    min-width: 100px;
                    color: $black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }    
}

// comment css
.comment_section{
    .comment_list{                
        .comment_card{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 0;
            &:not(:last-child) {
                border-bottom: solid 1px $light;   
            }
            .user_image{
                width: 60px;
                height: 60px;
                border-radius: 60px;
            }
            .comment_body{
                .user_details{
                    display: flex;
                    justify-content: space-between;
                    @media (max-width:480px) {
                        flex-direction: column;
                    }
                    .user{      
                        display: flex;
                        align-items: center;
                        gap: 10px;                  
                        .title{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 120%;
                            color: $black;
                            letter-spacing: 1px;
                        }
                        .star_count {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .star_icon {
                                list-style: none;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                            }

                            .count {
                                font-size: 15px;
                                font-weight: 400;
                                letter-spacing: .5px;
                                color: $l_primary;
                            }           
                        }
                    }
                    .date{
                        font-size: 14px;
                        font-weight: 400;
                        color: $l_light;
                        letter-spacing: 1px;
                    }
                }
                .para{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 140%;
                    color: $primary;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.comment_form_section{
    .form_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two equal columns */
        grid-template-rows: auto auto;
        column-gap: 20px;
        row-gap: 30px;
        margin-top: 24px;
        @media (max-width: 767px){
            grid-template-columns: 1fr;
            grid-template-rows: 4fr;
        }
        .form_group{            
            .form_label{
                display: block;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                color: $dark;
                margin-bottom: 5px;
            }
            .form_control{
                display: block;
                width: 100%;
                background-color: $form_bg;
                border: solid 1px $form_bg;
                height: 48px;
                border-radius: 12px;
                padding: 10px;                
                &.textarea{
                    height: 86%;
                    @media (max-width: 767px) {
                        height: 150px;
                    }
                }                
            }  
            &.mb_20 {
                margin-bottom: 20px;
            }
        }

        // rating
        .rating_btn_block{ 
            grid-column: 1 / 3;
            grid-row: 2;
            max-width: 100%;     
            display: flex;
            align-items: center;
            gap: 20px;            
            @media (max-width: 767px) {
                grid-column: initial;
                grid-row: initial;
                flex-direction: column;
            }
            .rating_block{
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $form_bg;
                border: solid 1px $form_bg;
                padding: 14px;
                border-radius: 12px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                @media (max-width: 576px) {
                    flex-direction: column;
                }
                .rating_list{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    @media (max-width: 576px) {                        
                        margin-top: 20px;
                    }
                    .rating_item{
                        display: flex;
                        align-items: center;
                        // background-color: #ddd;
                        padding: 10px 10px;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        .icon{
                            padding-right: 7px;
                            margin-top: 5px;
                        }
                        .label{
                            font-size: 15px;
                            @media (max-width:360px) {
                                font-size: 12px;
                            }
                        }                        
                    }
                    
                    label{
                        input {
                            &:checked {
                                &+.rating_item {
                                    border-radius: 10px;
                                    overflow: visible;
                                    width: 100%;
                                    color: $white;
                                }
                                &+.rating_item {
                                    .icon{
                                        filter: brightness(0) invert(1);
                                    }
                                }
                            }
                        }
                        &:nth-child(1){                            
                            input {
                                &:checked {
                                    &+.rating_item {
                                        background-color: $red;
                                    }
                                }       
                            }
                        }
                        &:nth-child(2){                            
                            input {
                                &:checked {
                                    &+.rating_item {
                                        background-color: $orange;
                                    }
                                }       
                            }
                        }
                        &:nth-child(3){                            
                            input {
                                &:checked {
                                    &+.rating_item {
                                        background-color: $yellow;
                                    }
                                }       
                            }
                        }
                        &:nth-child(4){                            
                            input {
                                &:checked {
                                    &+.rating_item {
                                        background-color: $blue;
                                    }
                                }       
                            }
                        }
                        &:nth-child(5){                            
                            input {
                                &:checked {
                                    &+.rating_item {
                                        background-color: $green;
                                    }
                                }       
                            }
                        }
                    }
                }
            }
            .button_block{                
                width: 10%;
                @media (max-width: 767px) {                    
                    width: 100%;
                }
                .btn_primary{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 10px;
                    height: 85%;
                    .comment_text{
                        display: none;
                        @media (max-width:576px) {
                            display: inline-block;
                        }
                    }
                    @media (max-width:767px) {
                        display: block;
                        width: 100%;
                        height: 100%;
                        svg{
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }
}

// reletive post css
.related_section {
    margin-top: 50px;
    padding: 64px 0;
    background-color: #F5F5F6;

    .main_heading {
        .title {
            margin-bottom: 64px;
            text-align: center;
        }
    }

    .related_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        max-width: 1000px;
        margin: 0 auto;
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 2fr;
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2fr;
        }

        .related_card {
            margin-bottom: 20px;

            .card_body {
                .title {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 130%;
                    color: $primary;
                    letter-spacing: 1px;
                    margin-top: 12px;
                    text-transform: capitalize;
                }

                .para {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    color: $l_dark;
                    letter-spacing: 1px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                    box-orient: vertical;
                    overflow: hidden;
                    min-height: 50px;
                    margin-top: 12px;
                }

                .author {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 140%;
                    color: $black;
                    letter-spacing: 1px;
                    margin-top: 12px;
                }
            }
        }
    }
}

